body{
  background-color: rgba(170, 194, 189, 0.582);
}

/* header */
.top{
    width: 100%;
    height: auto;
    background-color: blue;
    border-radius: 6px;
}

header{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding: 1%;
}


/*button to go to next page*/

a{
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: rgba(173, 0, 66, 0.712);
}

.text-center{
  display: block;
  width: 300px;
  margin:25px auto;
  background-color: rgba(247, 52, 52, 0.808);
  border-radius: 6px;
}

.text-center:hover{
  color: rgb(133, 0, 0);
}







/* Slideshow container */
.slideshow-container {
  max-width: 1150px;
  position: relative;
  margin: auto;
}

.mySlides {
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}