body{
  background-color: rgba(170, 194, 189, 0.582);
}

/* header */
.top{
    width: 100%;
    height: auto;
    background-color: blue;
    border-radius: 6px;
}

header{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding: 1%;
}


/*button to go to next page*/

a{
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: rgba(173, 0, 66, 0.712);
}

.text-center{
  display: block;
  width: 300px;
  margin:25px auto;
  background-color: rgba(247, 52, 52, 0.808);
  border-radius: 6px;
}

.text-center:hover{
  color: rgb(133, 0, 0);
}







/* Slideshow container */
.slideshow-container {
  max-width: 1150px;
  position: relative;
  margin: auto;
}

.mySlides {
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*Page 2*/



.tab {
  overflow: hidden;
  margin: 0px auto;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
}
.tablinks{
  flex:1;

}

/* Style the buttons inside the tab */
.tab button{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: -webkit-grab;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
}

.tab{
  margin-top: 20px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  cursor: -webkit-grabbing;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
  text-align: center;
  font-size: 18px;
}

.marg{
  margin: 10px;
}

section{
  background-color: rgb(24, 145, 145);
  height: fit-content;
  width: 670px;
  margin: 20px auto;
  padding: 8px;
  text-align: center;
  border-radius: 6px;
}

#choices{
  font-size: 25px;
}

output{
  width: 400px;
}

select{
  margin-right: 10px;
  width: 95px;
}

.when{
  margin-top: 15px;
}