
/*heading*/
.blue{
    background-color: rgb(75, 75, 216);
    height: 110px;
    width: 97.5%;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;


}
#head{
    width: 80%;
    height: auto;
    float: left;
}
h1{
    font-size: 60px;
    margin-left: 40%;
    margin-top: auto;
}
nav{
    background-color: cornflowerblue;
    width: 125%;
    display: flex;
    border-radius: 4px;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 80px;
    font-weight: bold;
    text-align: center; 
    color: black;
    height: 50px;
    text-align: center;
}
a:hover{
    color: rgb(204, 11, 162);
}

#buttion{
    width: 60%;
    background-color: mediumspringgreen;
    margin-left: 10% 50%;

}

/*slide show*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 0.75s;
}

@-webkit-keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}